.h1 {
  font-size: 28px;
}
@media (min-width: 991px) and (max-width: 1023px) {
  .h1 {
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  .h1 {
    font-size: 40px;
  }
}

.h2 {
  font-size: 18px;
}
@media (min-width: 786px) and (max-width: 990px) {
  .h2 {
    font-size: 24px;
  }
}
@media (min-width: 991px) and (max-width: 1023px) {
  .h2 {
    font-size: 28px;
  }
}
@media (min-width: 1024px) {
  .h2 {
    font-size: 32px;
  }
}

.h3 {
  font-size: 16px;
}
@media (min-width: 991px) and (max-width: 1023px) {
  .h3 {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .h3 {
    font-size: 24px;
  }
}

.h4 {
  font-size: 14px;
}
@media (min-width: 786px) and (max-width: 990px) {
  .h4 {
    font-size: 16px;
  }
}
@media (min-width: 991px) {
  .h4 {
    font-size: 18px;
  }
}

.h5 {
  font-size: 16px;
}

.h6 {
  font-size: 14px;
}

.body {
  font-size: 14px;
}

.label {
  font-size: 12px;
}

.Toastify__toast-container .Toastify__progress-bar--wrp {
  height: 2.5px !important;
}
.Toastify__toast-container .Toastify__close-button {
  top: 50%;
  right: auto !important;
  inset-inline-end: 12px !important;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.Toastify__toast-container .Toastify__close-button svg {
  fill: var(--color-neutral-500);
  stroke: var(--color-neutral-500);
}
.Toastify__toast-container .toast_main_content_style, .Toastify__toast-container .Toastify__toast--warning, .Toastify__toast-container .Toastify__toast--error, .Toastify__toast-container .Toastify__toast--info, .Toastify__toast-container .Toastify__toast--success {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding: 12px;
  overflow: hidden !important;
}
.Toastify__toast-container .Toastify__toast {
  position: relative;
  font-size: 13px;
}
.Toastify__toast-container .Toastify__toast::before {
  content: "";
  position: absolute;
  display: flex;
  inset-inline-start: 0;
  width: 4px;
  height: 100%;
}
.Toastify__toast-container .Toastify__toast--success {
  color: var(--color-semantic-green-900);
}
.Toastify__toast-container .Toastify__toast--success .Toastify__toast-icon svg {
  fill: var(--color-semantic-green-900);
}
.Toastify__toast-container .Toastify__toast--success::before {
  background-color: var(--color-semantic-green-900);
}
.Toastify__toast-container .Toastify__toast--info {
  color: var(--color-neutral-black-900);
}
.Toastify__toast-container .Toastify__toast--info .Toastify__toast-icon svg {
  fill: var(--color-neutral-black-900);
}
.Toastify__toast-container .Toastify__toast--info::before {
  background-color: var(--color-neutral-black-900);
}
.Toastify__toast-container .Toastify__toast--error {
  color: var(--color-semantic-red-900);
}
.Toastify__toast-container .Toastify__toast--error .Toastify__toast-icon svg {
  fill: var(--color-semantic-red-900);
}
.Toastify__toast-container .Toastify__toast--error::before {
  background-color: var(--color-semantic-red-900);
}
.Toastify__toast-container .Toastify__toast--warning {
  color: var(--color-orange-400);
}
.Toastify__toast-container .Toastify__toast--warning .Toastify__toast-icon svg {
  fill: var(--color-orange-400);
}
.Toastify__toast-container .Toastify__toast--warning::before {
  background-color: var(--color-orange-400);
}
.Toastify__toast-container .Toastify__progress-bar--success {
  background-color: var(--color-semantic-green-900) !important;
}
.Toastify__toast-container .Toastify__progress-bar--info {
  background-color: var(--color-neutral-black-900) !important;
}
.Toastify__toast-container .Toastify__progress-bar--error {
  background-color: var(--color-semantic-red-900) !important;
}
.Toastify__toast-container .Toastify__progress-bar--warning {
  background-color: var(--color-orange-400) !important;
}/*# sourceMappingURL=style.css.map */